In [1]:
#Q1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as <WORKER_NAME>.

In [ ]:
import mysql.connector as connection
mydb = connection.connect(host="localhost",user="root",passwd="Rudr@123",use_pure=True,database="XYZ")
print(mydb.is_connected())
cursor = mydb.cursor()
query = "SELECT first_name AS worker_name FROM worker"
cursor.execute(query)
cursor.close()
mydb.close()

In [2]:
# Q2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

In [ ]:
import mysql.connector as connection 
mydb = connection.connect(host="localhost",user="root",passwd="Rudr@123",use_pure=True,database="XYZ")
print(mydb.is_connected())
cursor = mydb.cursor()
query = "SELECT DISTINCT (Department) FROM worker"
cursor.execute(query)
cursor.close()
mydb.close()

In [3]:
# Q3 Write an SQL query to show the last 5 record from a table.

In [ ]:
import mysql.connector as connection
mydb = connection.connect(host="localhost",user="root",passwd="Rudr@123",use_pure=True,database="XYZ")
print(mydb.is_connected())
cursor = mydb.cursor()
query = "SELECT * FROM table_name ORDER BY column_name DESC LIMIT 5"
# "Select *(ALL) from (Table name) ORDER BY (colm_name set as PRIMARY_KEY) DESC LIMIT 5"
cursor.execute(query)
cursor.close()
mydb.close()